shamefully-hoist=true
node-linker=hoisted
shamefully-hoist=true
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=metro*
fetch-timeout=600000
fetch-retries=10
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-concurrency=3
